#headTitle{
    background-image: linear-gradient(to right, orange, #bd5cfd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}